In [1]:
import pandas as pd

In [2]:
# Import the weather dataset
df = pd.read_csv("datasets/weather_data.csv")

In [5]:
df.head()
df.describe()

,year,month,day,temp_high,temp_avg,temp_low,humidity_high,humidity_avg,humidity_low
count,360.0,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000
mean,2018.0,6.575000,15.661111,17.158333,13.597222,9.755556,82.491667,66.147222,49.280556
std,0.0,3.451202,8.853285,10.236204,9.838048,9.612621,15.733149,14.621234,16.452063
min,2018.0,1.000000,1.000000,-11.000000,-12.000000,-15.000000,31.000000,22.000000,12.000000
25%,2018.0,4.000000,8.000000,8.000000,5.750000,2.000000,70.000000,55.000000,37.750000
50%,2018.0,7.000000,15.500000,17.000000,13.000000,9.000000,87.000000,67.000000,47.000000
75%,2018.0,10.000000,23.000000,26.250000,23.000000,19.000000,96.000000,77.000000,61.000000
max,2018.0,12.000000,31.000000,36.000000,31.000000,27.000000,100.000000,97.000000,93.000000